<form method="post" action="/post" class="well form-inline center" style="text-align:center;">
    <input class="spans" type="text" name="post">
    <button class="btn btn-success" type="submit">
        <i class="icon-comment icon-white"></i>
        發言
    </button>
</form>
